<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @task %>
    <div class="flex flex-row justify-evenly">
    <div>
      <%= link_to edit_task_path(@task), class: "rounded-lg inline-block font-medium p-2 px-2 text-2xl text-green-500 hover:bg-green-50 transition transform hover:animate-[pulse_.3s_ease-in-out_infinite] motion-reduce:transition-none motion-reduce:hover:transform-none" do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end%>
    </div>
    <div>
      <%= button_to task_path(@task), method: :delete, class: " rounded-lg  font-medium mx-8 p-2 px-2 text-2xl text-red-500 hover:bg-red-50 transition transform hover:animate-[wiggle_.3s_ease-in-out_infinite] motion-reduce:transition-none motion-reduce:hover:transform-none" do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    </div>
    <div>
    <% if request.path.start_with?('/show_task') %>
      <div  >
        <%= link_to root_path, class: "ml-2 rounded-lg inline-block font-medium font-medium mx-8 p-2 px-2 text-2xl text-sky-500 hover:bg-sky-50 " do %>
          <i class="fa-solid fa-house transition transform hover:animate-[ping_.5s_ease-in-out_infinite] motion-reduce:transition-none motion-reduce:hover:transform-none">
          </i>
        <% end %>
      </div>
    <% else %>
      <div  class: "ml-2 rounded-lg bg-gray-100  font-medium" >
        <%= link_to tasks_path class: "rounded-lg bg-gray-100  transition transform hover:animate-[ping_.5s_ease-in-out_infinite] motion-reduce:transition-none motion-reduce:hover:transform-none text-xl" do %>
          <i class="fa-solid fa-caret-left"></i>
        <% end %>
      </div>
    <% end %>
    </div>
    </div>
  </div>
</div>
