<div class="form">
<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.text_field :title, class: "input", placeholder: "Category name" %>
  </div>
  <div class="field">
    <%= form.text_area :body, class: "input h-20", placeholder: "Details (Optional)", id: "text_area"  %>
  </div>
  <div class="flex justify-evenly">
    <div class="inline">
      <%= link_to 'Back', categories_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"  %>
    </div>
    <div class="inline">
      <%= form.submit  class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"  %>
    </div>
  </div>
<% end %>
</div>
